.tabsWrapper {
  margin-top: 30px;
}

/* Style for selected tab */
.tabSelected {
  background: var(--bgColor) !important;
  border-color: var(--violet) !important;
  color: var(--gold) !important;
  border-radius: 5px 5px 0 0;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.description h3 {
  font-size: 18px;
}

.description h3,
.description p {
  margin: 0;
}
