.contentHeader {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.chevronDown {
  height: 24px;
  padding: 0 8px;
  transition: transform 0.3s ease-in-out;
}

.accordianLabel {
  display: block;
  cursor: pointer;
}

.accordianInput {
  display: none;
}

.content {
  /* transform: scaleY(0); */
  overflow: hidden;
  max-height: 0px;
  transform-origin: top;
  transition: max-height 0.4s ease-out;
}

.accordianInput:checked ~ .content {
  /* display: block; */
  /* transform: scaleY(1); */
  max-height: 100%;
}

.accordianInput:checked ~ .accordianLabel .contentHeader .chevronDown {
  transform: rotate(180deg);
  border: 2px black;
}
