.contentHeader {
  display: flex;
  white-space: nowrap;
  align-items: center;
}

.chevronDown {
  height: 15px;
  padding: 0 8px;
  transition: transform 0.3s ease-in-out;
}

.accordianLabel {
  display: block;
  cursor: pointer;
}

.accordianInput {
  display: none;
}

.rightSection {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.content {
  /* transform: scaleY(0); */
  overflow: hidden;
  max-height: 0px;
  transform-origin: top;
  transition: max-height 0.4s ease-out;
}

.socials {
  margin-right: 30px;
}

.completed {
  margin-left: 10px;
  font-size: 14px;
  border: var(--pink);
  border-style: solid;
  border-radius: 50px;
  padding: 2px 9px;
  color: var(--pink);
  background: #14050d;
}

.accordianInput:checked ~ .content {
  /* display: block; */
  /* transform: scaleY(1); */
  max-height: 100%;
}

.accordianInput:checked ~ .accordianLabel .contentHeader .chevronDown {
  transform: rotate(180deg);
  border: 2px black;
}

.contentTitle {
  font-size: 18px;
  font-weight: 500;
}
