.container {
  display: flex;
  gap: 20px;
}
.container p {
  color: lightgray;
  text-decoration: underline;
  font-weight: 500;
}

.container a {
  color: var(--violet);
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .container {
    gap: 15px;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    justify-content: center;
  }
}
