.tableWrapper {
  overflow-x: auto;
  width: 100%;
}

.table {
  border-collapse: collapse;
  background: rgba(37, 34, 44, 0.9);
  width: 100%;
}

.table th {
  color: var(--gold);
  font-weight: 500;
}

.table th,
.table td {
  border: 1px solid var(--violet);
  padding: 8px;
  text-align: start;
}
