.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: black;
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  background-color: #332b4d;
  margin-top: 1rem;
}

.container span {
  font-weight: 500;
}

.infoContainer {
  display: flex;
  gap: 50px;
  text-transform: uppercase;
}

.listItem {
  margin-bottom: 10px;
}

.keywords {
  color: var(--gold);
}

@media only screen and (max-width: 600px) {
  .container p {
    font-size: 15px;
  }
}
