@font-face {
  font-family: "Capsules";
  src: url("/assets/fonts/Capsules.woff2") format("woff2");
  font-weight: 100 700;
}
@font-face {
  font-family: "Capsules";
  src: url("/assets/fonts/Capsules.woff2") format("woff2") tech("variations");
  font-weight: 100 700;
}

:root {
  --toastify-font-family: "Capsules", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
