.container {
  width: fit-content;
  padding: 35px 8% 35px 8%;
}

@media only screen and (max-width: 1300px) {
  .container {
    padding: 35px 5% 112px 5%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding-top: 35px;
  }
}
