.container {
  width: fit-content;
  padding: 65px 8% 35px 8%;
}

@media only screen and (min-width: 768px) {
  .container {
    position: relative;
  }

  .container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("/assets/defifa-nfl-pitch-compr.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
    z-index: -1;
  }
}
@media only screen and (max-width: 1300px) {
  .container {
    padding: 65px 5% 112px 5%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding-top: 35px;
  }
}
