.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
  color: white;
  font-weight: 500;
  line-height: 18.2px;
}

.container h3,
.container p {
  margin: 0;
}

.gameImg {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 0.3s;
}

.quantityContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}
