.subtitle {
  color: var(--turquoise);
  font-size: 18px;
}

.mint {
  text-transform: uppercase;
}
.mint label {
  font-size: 22px;
}

.mint select {
  background: none;
  font: inherit;
  appearance: none;
  outline: 0;
  background-image: none;
  height: 2.5rem;
  min-width: 200px;
  font-size: 15px;
  color: var(--bgColor);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 0 20px 0 10px;
}

.sortSelect {
  display: flex;
  align-items: center;
}
.arrow {
  display: flex;
  background-color: c0b3f0;
  width: 20px;
  height: 2.5rem;
  pointer-events: none;
  position: absolute;
  top: 0px;
  right: 10px;
  text-align: center;
}

.selectWrapper {
  position: relative;
  background: #c0b3f0;
  padding: 0;
  margin: 0 10px;
  border-radius: 10px;
}

.l1,
.l2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.selectAll {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: white;
  text-decoration: underline;
}
