.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
  line-height: 18.2px;
  color: white;
  font-weight: 500;
}

.container h3,
.container p {
  margin: 0;
}

.container span {
  font-weight: 500;
}

.teamImg {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 0.3s;
}

.teamChecked {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
