.parent {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
  line-height: 18.2px;
  color: white;
  font-weight: 500;
  width: 300px;
}

.imageContainer {
  position: relative;
  cursor: pointer;
}

.vsContainer {
  align-self: center;
  font-size: 2rem;
  margin-left: 2rem;
}

.container h3,
.container p {
  margin: 0;
}

.dataContainer {
  display: "flex";
  gap: 15px;
  align-items: "center";
  height: 35px;
}

.quantityContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: end;
  flex-wrap: wrap;
}

.container span {
  font-weight: 500;
}

.teamImg {
  max-width: 100%;
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 0.3s;
}

.teamChecked {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 27rem;
}

@media only screen and (max-width: 768px) {
  .vsContainer {
    display: none;
  }
}
