.scoreCardHeader {
  font-size: 18px;
  color: var(--gold);
}

.scoreCardOptionsLabel {
  text-indent: 5px;
}

.scoreCardOptions {
  display: flex;
  gap: 50px;
  font-size: 18px;
  font-weight: 600;
}

.scoreCardOptions p {
  cursor: pointer;
  font-weight: 400;
}

.scoreCardButtonContainer {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.scoreCards {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
}

.tiersContainer {
  display: grid;
  width: 800px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  border: 1px solid var(--violet);
  padding: 20px;
  background: rgba(37, 34, 44, 0.9);
}

.input {
  border: 1px solid var(--violet);
  background: transparent;
  color: var(--contentTitle);
  padding: 5px;
}

@media only screen and (min-width: 375px) and (max-width: 1440px) {
  .scoreCardGroupsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1880px) {
  .scoreCardGroupsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
