.scoreCardContainer {
  padding: 50px 30px 50px 30px;
}

.scoreCardHeader {
  font-size: 18px;
  color: var(--gold);
}

.scoreCardOptionsLabel {
  text-indent: 5px;
}

.scoreCardOptionsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.scoreCardOptions {
  display: flex;
  gap: 50px;
  font-size: 18px;
  font-weight: 600;
}

.scoreCardOptions p {
  cursor: pointer;
}

.scoreCardGroupsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.scoreCardButtonContainer {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.ballKidsScoreCard {
  display: flex;
}

.ballKidsScoreCardInput {
  background: var(--contentTitle);
  border: 0;
}

.ballKidsScoreCardNotice {
  margin-bottom: 30px;
}

@media only screen and (min-width: 375px) and (max-width: 1440px) {
  .scoreCardGroupsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1880px) {
  .scoreCardGroupsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
