.button {
  opacity: 0.9;
  transition: opacity 0.3s;
  font-family: inherit;
  height: 41px;
  color: var(--blue);
  font-weight: 500;
  font-size: 13px;
  border: 1px solid black;
  border-radius: 3px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.button:hover {
  opacity: 1;
}

.extraSmall {
  width: 35px;
  height: 30px;
}

.small {
  width: 90px;
}

.medium {
  width: 181px;
}

.big {
  width: 269px;
}
