.container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.innerContainer {
  display: flex;
  flex-direction: row;
}

.container h3 {
  font-size: 18px;
  font-weight: 400;
}

.buttonContainer {
  margin-top: 20px;
}
