.attestationConfirm {
  color: var(--turquoise);
  font-size: 13px;
}

.selfReferee {
  padding-bottom: 1%;
  font-size: 16px;
}

.selfReferee p {
  max-width: 700px;
  font-weight: 500;
}

.scoreCardContainer {
  padding: 50px 30px 50px 30px;
}

.scoreCardHeader {
  font-size: 18px;
  color: var(--gold);
}

.scoreCardOptionsLabel {
  text-indent: 5px;
}

.scoreCardOptionsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.scoreCardOptions {
  display: flex;
  gap: 50px;
  font-size: 18px;
}

.scoreCardOptions p {
  cursor: pointer;
}

.scoreCardGroupsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.scoreCardButtonContainer {
  margin-top: 20px;
}

@media only screen and (min-width: 375px) and (max-width: 1440px) {
  .scoreCardGroupsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1880px) {
  .scoreCardGroupsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
