.attestationConfirm {
  color: var(--purple);
  font-size: 13px;
}

.selfReferee {
  padding-bottom: 1%;
  font-size: 16px;
}

.tabsWrapper {
  margin-top: 10px;
}

.tabsWrapper ul {
  border-bottom: 1px solid var(--contentTitle);
}

/* Style for selected tab */
.tabSelected {
  background: var(--blue);
  border-color: var(--contentTitle);
  color: var(--gold);
  border-radius: 5px 5px 0 0;
}

.tabSelected:focus:after {
  background: transparent;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.description h3 {
  font-size: 18px;
  font-weight: 400;
}

.description h3,
.description p {
  margin: 0;
}
