.sortSelect {
  display: flex;
  align-items: center;
}

.sortSelect label {
  font-size: 18px;
}

.sortSelect select {
  background: none;
  font: inherit;
  appearance: none;
  outline: 0;
  background-image: none;
  height: 2.5rem;
  min-width: 200px;
  font-size: 15px;
  color: var(--bgColor);
  border: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 0 20px 0 10px;
}

.arrow {
  display: flex;
  width: 20px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  right: 10px;
  height: 100%;
  text-align: center;
}

.selectWrapper {
  position: relative;
  background: #c0b3f0;
  margin: 0 0 0 10px;
  border-radius: 3px;
  border: 1px solid black;
}

/* Media query for mobile */
@media only screen and (max-width: 768px) {
  .sortSelect {
    display: flex;
    line-height: 2rem;
  }

  .sortSelect label {
    font-size: 15px;
    display: block;
  }

  .sortSelect select {
    min-width: 100px;
    height: 20px;
    font-size: 12px;
    padding: 0 0px 0 10px;
  }
  .arrow {
    width: 15px;
  }
}
