.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 30px;
}

.container p {
  font-size: 18px;
  font-weight: 500;
}

.infoContainer {
  display: flex;
  gap: 50px;
}

.infoDates {
  color: var(--gold);
}

.gameplayHeader {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.gameplayContainer {
  margin-top: 30px;
}

.gameplayContainer ol,
.gameplayContainer h1 {
  margin: 0;
}

.gameplayContainer ol {
  padding: 0;
  list-style-position: inside;
}

.gameplayContainer li::marker {
  color: white;
}

@media only screen and (max-width: 768px) {
  .container p {
    font-size: 15px;
  }

  .infoContainer {
    flex-direction: column;
    gap: 0;
  }
}
