.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 20px;
}

.container p {
  font-size: 18px;
}

.container span {
  font-weight: 700;
}

.infoContainer {
  display: flex;
  gap: 50px;
  text-transform: uppercase;
}

.socialsContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media only screen and (max-width: 768px) {
  .container p {
    font-size: 15px;
  }

  .infoContainer {
    flex-direction: column;
    gap: 0;
  }
}
