.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.logoWalletContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.logoInfoContainer {
  display: flex;
  gap: 100px;
}

@media only screen and (max-width: 1300px) {
  .logoInfoContainer {
    gap: 50px;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    align-items: flex-start;
  }

  .logoInfoContainer {
    gap: 0px;
  }

  .logoWalletContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 600px) {
  .logoWalletContainer {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
