
.wrapper {
  background-color: #0E051E;
  padding: 2rem 0;
}

.container {
  max-width: 1024px;
  padding: 0 1rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 0.875rem;
}

.container a {
  color: var(--violet);
  text-decoration: underline;
  cursor: pointer;
}

.container li {
  list-style: none;
  margin-bottom: 0.5rem;
}
