.container {
  padding: 65px 10% 112px 10%;
}

@media only screen and (max-width: 1300px) {
  .container {
    padding: 65px 5% 112px 5%;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding-top: 35px;
  }
}
