.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container label {
  font-size: 24px;
  font-weight: 700;
  color: #c0b3f0;
  border-bottom: 3px solid #7b59f3;
}

.teamContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

@media only screen and (max-width: 768px) {
  .teamContainer {
    grid-template-columns: 1fr;
  }
}
