.container h1 {
  color: var(--gold);
  font-weight: 500;
  margin: 0;
  font-size: 20px;
}

.container p {
  color: var(--purple);
}

.container span {
  text-transform: lowercase;
}

.mints {
  font-size: 16px;
}
