.phases {
  display: grid;
  grid-template-columns: 35% 55%;
  justify-content: space-between;
  height: 100%;
  border-radius: 10px;
  background: url(../../../public/assets/banny.png) no-repeat;
  background-size: contain;
  background-position: center;
}

.phaseBox {
  display: block;
  text-transform: uppercase;
}

.phaseBox h1 {
  color: var(--gold);
  font-size: 18px;
}

.phaseBox p {
  font-size: 20px;
  font-weight: 700;
}

.disclaimer {
  font-weight: 700;
  font-size: 20px;
}

.pointsTableWrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 30px;
}

.superScript {
  font-size: 10px;
  padding-left: 10px;
}

.pointsHeader {
  padding-left: 10px;
  color: var(--gold);
  font-size: 18px;
}

.pointsTable {
  margin: 10px;
  padding: 10px;
  border-collapse: collapse;
  border: 1px solid;
}

.pointsTable th {
  font-size: 20px;
  font-weight: 700;
  text-align: start;
  border: 1px solid;
  padding: 10px;
}

.pointsTable td {
  border: 1px solid;
  padding: 10px;
}

.pointsTableDisclaimer {
  padding: 10px;
}

/* Media query for mobile */
@media only screen and (max-width: 768px) {
  .phases {
    grid-template-columns: 100%;
  }
  .phaseBox {
    display: block;
    text-transform: uppercase;
  }
  .phaseBox h1 {
    font-size: 18px;
  }
  .phaseBox p {
    font-size: 15px;
  }
  .disclaimer {
    font-size: 13px;
    font-weight: 700;
  }
}

/* Media query for tablet */
@media only screen and (min-width: 758px) and (max-width: 1024px) {
  .phases {
    grid-template-columns: 100%;
  }
  .phaseBox {
    display: block;
    text-transform: uppercase;
  }
  .phaseBox h1 {
    font-size: 20px;
  }
  .phaseBox p {
    font-size: 18px;
    font-weight: 700;
  }

  .disclaimer {
    font-size: 15px;
    font-weight: 700;
  }
}
